.btn-task {
    border: solid;
    border-color: black;
    background: none;
    border-width: 2px;
    margin: 5px auto;
    padding: 5px 7px;
}

.box {
    background-color: darkgrey;
    width: 200px;
    height: fit-content;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-grow: 2;
    align-items: stretch;
}

.navMenu {
    background-color: lightblue;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    height: 200px;
    flex-grow: 4;
}

.taskCard {
    background-color: lightgrey;
    border-radius: 5px;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
}

.pageMain {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.taskContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.dNone {
display: none;
}
